@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
:host {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 80vw;
  background-image: linear-gradient(-1deg, #394458, #191e28 96%);
}

.results {
  background: #f6ffed;
  border: 2px solid #b7eb8f;

  &.alert {
    background: #fff1f0;
    border: 2px solid #ffa39e;
  }
}

.pending {
  color: black;
}
.incorrect {
  color: indianred;
}
.correct {
  color: darkseagreen;
}
