
<div nz-row style="padding-top: 100px ">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-card style="width:100%;">
      <h1>Type the text bellow</h1>
      <form nz-form class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <h3>{{ randomText }}</h3>
            <label>
              <input type="text" nz-input placeholder="Start typing here" />
            </label>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
